.panel_datos{
   background-color: rgb(240, 160, 220);
   border-radius: 20px;
   border:solid 3px black;
   width: 350px; 
}
.imagen_perfil{
    width:80px;
    height: 80px;
    border-radius: 100px;
    border:solid 2px rgb(25, 240, 230)
}