
.panel_datos{
    background-color: aquamarine;
    border-radius: 20px;
    border:solid 3px black;
    width: 350px;
}

#imagen_perfil {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: solid 3px;
}

.panel_datos h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}