.panel_datos{
    background-color:  rgb(217, 204, 230);
   border: radius 20px;
   border:solid 3px black;
   width: 350px;
}

#img.jpg{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid 2px rgb(232, 238, 240);
}
